@import "../../lib/common.scss";
.contact_address_userInfo_selectBox{
  padding: 0;
  margin-bottom: 5px;
}

.contact_address_userInfo_province{
}
.contact_address_userInfo_height{
  height: 34px;
  font-size: 14px;
}
.contact_address_userInfo_city{
  color:#000000;
}
.contact_address_userInfo_detail_addr{
  margin-top: 5px;
}
//GEN_SASS
